{% extends 'wordsgame/base.html' %}
{% load static %}

{% block title %}
Game|django
{% endblock %}


{% block navbar %}
{% include 'wordsgame/includes/navprogress.html' %}
{% endblock %}



{% block content %}
{% include 'wordsgame/includes/counter.html' %}



<div class="container-md" id="mainwords" style="text-align:center;">
    <h5 class="gamewordmain" id='gamewordmain'></h5>
    <div class="btn btn-light btn-lg gamebtn" onclick="check('ова', '1')" id="1">ова</div>
    <div class="btn btn-light btn-lg gamebtn" onclick="check('ыва', '2')" id="2">ыва</div>
</div>


<script>
    "use strict";
    let url = "{% url 'ova_game_url' %}";
</script>
{% include 'wordsgame/includes/gamelogic.html' %}


{% endblock %}